@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  font-family: sans-serif;
  // scroll-snap-type: y mandatory;
  // overflow-y: auto;
  // scroll-behavior: smooth;
  section {
    scroll-snap-align: start;
  }
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: toVw(12);
  padding-right: toVw(12);
}

textarea {
  resize: none;
}

@include desktop() {
  .container {
    max-width: toVwDesktop(1400);
    padding-left: toVwDesktop(12);
    padding-right: toVwDesktop(12);
  }
}
.relative {
  position: relative;
}
.bg-image {
  background-image: url(./../assets/images/bg-image.svg);
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-color: rgb(43, 103, 175);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  animation: bg-pulse 25s ease-in-out infinite;
  filter: brightness(1.5) blur(18px);
  filter: brightness(1) blur(0px);
  filter: none;
  transform: scale(1);
  @media screen and (max-width: 768px) {
    background-position: 50% -140%;
  }
}

textarea,
input {
  font-family: Segoe UI, sans-serif;
}

textarea {
  padding: 15px 24px !important;
}

@keyframes bg-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heading {
  font-size: 40px;
  line-height: 1.5;
  font-family: "Gambarino-Regular";
  margin-bottom: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include tablet() {
    font-size: 30px;
  }
  @include mobile() {
    font-size: 25px;
  }
}

.btn {
  background-color: #d9d9d9;
  font-family: "Gambarino-Regular";
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  border-radius: 10px;
  padding: 12px 24px;
  border: 1px solid $black;
  &:hover {
    background-color: #393939;
    color: $white;
  }
  @include tablet() {
    font-size: 18px;
  }
  @include mobile() {
    font-size: 16px;
  }
}

.fade-out {
  transition: opacity 1s ease;
  animation-delay: 0.5s;
  opacity: 1;
}

.fade-out.off-screen {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.main-container {
  max-height: 100vh;
  overflow: hidden;
}

.box-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;

  section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1128px;
    margin: auto;
  }
}

#root {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
